#messageinput {
    min-width: 100%;
    resize: none;
}

#message-container {
    position: relative;
}

#message-parent {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.scrollable {
    overflow: auto;
}

#message-viewport {
    height: 100%;
}

.incoming-message {
    display: block;
}

#chat-room-buttons-parent {
    position: relative;
}

#chat-room-btns-div {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#display-div {
    font-size: 10rem;
}
